.container-paper{
  height: 100vh;
  padding: 5%;
}

.container-custom {
  border-radius: 10px; 
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  height: 100vh;
  box-shadow: 10px 10px 5px #888888;
}

.content {
  opacity: 0.7;
  font-size: 150%;
  font-weight: normal;
}

.row-center {
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 40vh;
}


.footer-custom{
  margin-top:25px;
  padding-top: 15px;
  margin-left: -5.7%;
  margin-right: -5.5%;
  height: 10vh;
  background-color: #286090;
}


